:root {
    --bg-color: rgb(20, 20, 20);
    --card-color: rgb(23, 23, 23);
  }
  
  body {
    align-items: center;
    background-color: var(--bg-color);
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
  }
  
  #cards {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 8px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  
  .card:nth-child(1) {
    grid-row: span 4;
    grid-column: span 4;
  
    h4 {
      height: fill-available;
      flex-grow: 1;
    }
  
    .card-info-wrapper {
      align-items: start;
    }
  }
  
  .card:nth-child(2) {
    grid-column: span 4;
  }
  
  .card:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .card:nth-child(9) {
    grid-column: span 3;
    grid-row: span 1;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    height: 100%;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  #cards:hover > .card::after {
    opacity: 1;
  }
  
  .card:hover::before {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.02);
  }
  
  .card::before,
  .card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
  }
  
  .card::before {
    background: radial-gradient(
      1600px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.06),
      transparent 40%
    );
    transition: background-color 2500ms, opacity 500ms;
    z-index: 3;
  }
  
  .card::after {
    background: radial-gradient(
      800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.4),
      transparent 40%
    );
    z-index: 1;
  }
  
  .card > .card-content {
    background-color: var(--card-color);
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;
  }
  
  /* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */
  
  h1,
  h2,
  h3,
  h4,
  span {
    color: rgb(240, 240, 240);
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    margin: 0px;
  }
  
  i {
    color: rgb(240, 240, 240);
  }
  
  .card-image {
    align-items: center;
    display: flex;
    height: 140px;
    justify-content: center;
    overflow: hidden;
  }
  
  .card-image > i {
    font-size: 6em;
    opacity: 0.25;
  }
  
  .card-info-wrapper {
    align-items: center;
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    padding: 5px 20px;
  }
  
  .card-info {
    align-items: flex-start;
    display: flex;
    gap: 10px;
  }
  
  .card-info > i {
    font-size: 1em;
    height: 20px;
    line-height: 20px;
  }
  
  .card-info-title > h3 {
    font-size: 1.1em;
    line-height: 20px;
  }
  
  .card-info-title > h4 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.85em;
    margin-top: 8px;
  }
  
  /* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */
  
  @media (max-width: 1200px) {
    body {
      align-items: flex-start;
      overflow: auto;
    }
  
    #cards {
      /* max-width: 1000px; */
      padding: 10px 0px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  
    .card {
      flex-shrink: 1;
      width: 100%;
    }
  }
  
  @media (max-width: 800px) {
    #cards {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(8, 1fr);
    }
  
    .card {
      height: auto;
    }
  
    .card-image {
      height: 80px;
    }
  
    .card-image > i {
      font-size: 3em;
    }
  
    .card-info-wrapper {
      padding: 0px 10px;
    }
  
    .card-info > i {
      font-size: 0.8em;
    }
  
    .card-info-title > h3 {
      font-size: 0.9em;
    }
  
    .card-info-title > h4 {
      font-size: 0.8em;
      margin-top: 4px;
    }
  
    .mini-card h4 {
      display: none !important;
      background-color: salmon;
    }
  }
  
  @media (max-width: 320px) {
    #cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
    }
  
    .card {
      width: 100%;
    }
  }
  
  h1 {
    font-size: 2.5em;
    strong {
      color: turquoise;
    }

    @media (max-width: 800px) {
      font-size: 1.5em;
    }
  }
  
  #profile-pic {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    background-color: turquoise;
    margin: 1em 0;

    @media (max-width: 800px) {
      height: 100px; 
      width: 100px;
    }
  }
  
  .social-links {
    /* position: absolute; */
    display: flex;
    gap: 10px;
    margin-top: 1em;
    z-index: 5;
  
    a {
      text-decoration: none;
      color: white;
      height: 50px;
      width: 100%;
      /* border: 1px solid turquoise; */
      /* background-color: black; */
      border-radius: 7px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      padding: 0 1em;
      a:hover {
        background-color: turquoise;
        color: black;
        scale: 1.1;
      }
    }
  }
  
  .info-filler {
    align-items: end;
    align-self: end;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    margin: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: auto;
    height: auto;
  }
  
  .info-filler span {
    font-size: 2em;
  }

  #lastfm{
    margin-top: 2em;
  }